.App {
  text-align: center;
  overflow-x: hidden;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

.App-link {
  color: #61dafb;
}
.header-container {
  background-color: papayawhip;
  color: peru;
  display: flex;
  justify-content: space-between; /* Space items horizontally */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Add some padding for spacing */
}

.title-container {
  padding: 10px;
  min-width: 80%;
}

.header {
  font-size: 2rem;
  margin: 0;
}

.subheader {
  font-size: 1rem;
  margin: 0;
}

.dark-mode-btn-container {
  display: flex;
  align-items: center; /* Center items vertically within the dark mode container */
  justify-content: left;
  min-width: 10%;
  padding-right: 20px;
}

/* Style the label and input for the dark mode toggle */
.dark-mode-label {
  margin-right: 8px; /* Add some space between label and input */
}

.footer {
  background-color: papayawhip;
  color: black;
  padding: 5px;
}

.quiz-body {
  min-height: 20vh;
}

.quiz-container {
  min-height: 25vh;
  display: table-cell;
  width: 75vw;
  padding: 5px;
}

.sidebar {
  text-align: center;
  margin: 10px;
  display: table-cell;
  position: relative;
  width: 25vw;
  background-color: #ffd28a;
}

.sidebar-menu {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.sidebar-title {
  text-align: center;
  color: black;
}

.topic-label {
  color: dodgerblue;
  font-weight: bold;
}

.nav-btn {
  padding: 8px;
  background-color: papayawhip;
  border: 1px solid orange;
  margin: 1px 5px 1px 5px;
  width: 80%;
  border-radius: 8px;
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-btn.selected {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

.quiz-btn {
  padding: 8px;
  border: 1px solid pink;
  margin: 1px 5px 1px 5px;
  width: 30%;
  background-color: mediumseagreen;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.quiz-btn:hover {
  cursor: pointer;
}

.quiz-error {
  text-align: center;
}

.questions-container {
  text-align: left;
  padding: 20px;
}

.question {
  padding: 5px;
}

.controls {
  padding: 20px;
  border-radius: 8px;
  background: papayawhip;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.correct-message,
.incorrect-message {
  text-align: center;
}

.correct-answer {
  color: dodgerblue;
  font-weight: bold;
}

.incorrect-answer {
  color: peru;
  font-weight: bold;
}
