.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: purple;
  color: yellow;
}

.footer {
  background-color: whitesmoke;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 98%;
}

.breadcrumbs {
  padding: 10px;
}

.quiz-body {
  background-color: lightpink;
  min-height: 20em;
}

.quiz-container {
  min-height: 200px;
}